<div class="favorite-pos {{classNameForMethod method}}" data-idpos="{{idPos}}">
    <span class="favorite-pos_text-bold">Метод: {{method}}</span>
    <span class="favorite-pos_ellipsis">{{url}}</span>
</div>