/* ------------------------- Style -------------------------- */
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}
.container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.info-box {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
}
table, h3 {
	text-align: center;
}
table td {
	width: 150px;
}
button {
	margin: 5px;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
}
.btn-vote, .btn-download {
	text-align: center;
}
