.favorite-box {
    width: 30%;
    margin: 5px;
    padding: 10px 3px;
    border: 1px gray solid;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: darksalmon;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.favorite-box__title {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.favorite-box__list {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px 0 15px;
    scrollbar-width: thin;
    scrollbar-color: gray rgba(255, 0, 0, 0);
    box-sizing: border-box;
}